{% extends 'base.html' %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <h2 class="text-center display-4 mb-4">{{ category.name }}</h2>
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
        <div id="accordion">
          {% for question in category.question_set.all %}
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title w-100">
                <a class="d-block w-100" data-toggle="collapse" href="#question{{question.id}}">
                  {{ question.text }}
                </a>
              </h4>
            </div>
            <div id="question{{question.id}}" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                {{ question.answer.text }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock content %}
